/*#region ----------------- Cards */
.card-services {
  margin-bottom: 20px;
  .card-inner {
    overflow: hidden;
    background-color: white;
    position: relative;
    user-select: none;
  }
  .thumb {
    @include imgContainer(300px, 2px);
  }
  .text {
    @include displayFlex(flex, center, center);
    flex-direction: column;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    z-index: 10;
    padding: 30px;
    transition: all 0.3s ease-in-out;
    .icon {
      @include displayFlex(flex, center, center);
      width: 48px;
      height: 48px;
      font-size: 30px;
      color: white;
    }
    h3 {
      font-size: 16px;
      margin-bottom: 0;
      color: white;
      text-align: center;
    }
  }
  &:hover {
    .text {
      height: 100%;
      background: linear-gradient(
        180deg,
        rgba(0, 125, 223, 0.2),
        rgba(0, 125, 223, 1)
      );
    }
  }
}

.card-course {
  margin-bottom: 15px;
  .card-inner {
    background-color: white;
    border-radius: 2px;
    border: 1px solid $borderColor;
    padding: 15px;
    display: grid;
    grid-template-columns: 160px auto;
  }
  .thumb {
    @include imgContainer(160px, 2px);
  }
  .info {
    padding-right: 15px;
    padding-top: 5px;
    h3 {
      font-size: 16px;
      font-weight: 600;
      color: $textDark;
      a {
        display: block;
        color: $textDark;
      }
      &:hover {
        a {
          color: $primary;
        }
      }
    }
    ul {
      li {
        font-size: 14px;
        font-weight: 400;
        color: $textDark;
        margin: 5px 0;
        .fi {
          font-size: 17px;
          color: $textSilver;
          margin-left: 5px;
          position: relative;
          top: 4px;
        }
        span {
          color: $textGrey;
        }
      }
    }
  }
  .download-link {
    text-align: left;
    margin-top: 10px;
    .btn-primary {
      padding: 0.4rem 1rem;
      min-width: unset;
      font-size: 13px;
      .fi {
        font-size: 16px;
        top: 3px;
      }
    }
  }
}

.cards-list {
  // display: grid;
  // grid-template-rows: auto;
  @include displayFlex(flex, center, center);
  flex-wrap: wrap;
  &.row-4 {
    .card-member {
      flex: 0 0 25%;
      width: 25%;
      padding: 8px;
    }
  }
  &.row-3 {
    .card-member {
      flex: 0 0 33.33%;
      width: 33.33%;
      padding: 8px;
    }
  }
  &.row-2 {
    .card-member {
      flex: 0 0 50%;
      width: 50%;
      padding: 8px;
    }
  }
}

@media (max-width: 1400px) {
}

@media (max-width: 1199px) {
  .card-course {
    .card-inner {
      grid-template-columns: 120px auto;
    }
    .thumb {
      height: 120px;
    }
    .info {
      h3 {
        font-size: 14px;
      }
      ul li {
        font-size: 13px;
        .fi {
          font-size: 15px;
        }
      }
    }
  }
  .cards-list {
    &.row-4 {
      .card-member {
        flex: 0 0 33.33%;
        width: 33.33%;
      }
    }
  }
}
@media (max-width: 992px) {
  .card-services {
    .text {
      .icon {
        font-size: 24px;
      }
      h3 {
        font-size: 14px;
      }
    }
  }
  .card-course {
    .card-inner {
      grid-template-columns: 140px auto;
    }
    .thumb {
      height: 140px;
    }
  }
}
@media (max-width: 768px) {
  .cards-list {
    &.row-4 {
      .card-member {
        flex: 0 0 50%;
        width: 50%;
      }
    }
  }
}
@media (max-width: 575px) {
  .card-services {
    .thumb {
      height: 200px;
    }
    .text {
      .icon {
        font-size: 20px;
      }
      h3 {
        font-size: 13px;
      }
    }
  }
  .card-course {
    .card-inner {
      grid-template-columns: 100%;
    }
    .thumb {
      height: 200px;
    }
    .info {
      padding: 10px 0 0 0;
      h3 {
        font-size: 13px;
      }
      ul li {
        font-size: 12px;
        .fi {
          font-size: 14px;
        }
      }
    }
  }
}
@media (max-width: 450px) {
  .cards-list {
    &.row-4 {
      .card-member {
        flex: 0 0 100%;
        width: 100%;
      }
    }
  }
}
/*#endregion -------------- Cards */
