/*#region ----------------- Payment Status */
.form-status {
  margin: 130px 0 50px 0;
  .section-inner {
    width: 600px;
    margin: 0 auto;
    background-color: white;
    border-radius: 2px;
    border: 1px solid $borderColor;
    padding: 40px;
  }
  .status-section {
    display: none;
    animation: swipeRightsmall 0.3s ease-in-out;
    &.active {
      display: block;
    }
  }
  .thumb {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: 100%;
    &.success {
      background-image: url(../images/icons/icon-check.svg);
    }
    &.error {
      background-image: url(../images/icons/icon-error.svg);
    }
    &.warning {
      background-image: url(../images/icons/icon-warning.svg);
    }
  }
  .title {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-top: 5px;
    &.success {
      color: $success;
    }
    &.error {
      color: $error;
    }
    &.warning {
      color: $warning;
    }
  }
  .status-list {
    text-align: right;
    border-top: 1px solid $borderColor;
    padding-top: 10px;
    margin-top: 20px;
    li {
      font-size: 16px;
      font-weight: 400;
      color: $textDark;
      margin: 8px 0;
      span {
        color: $textGrey;
        margin-right: 5px;
      }
    }
  }
  .list-disc {
    padding-right: 25px;
    list-style: disc;
    margin: 0 0 20px 0;
    li {
      font-size: 14px;
      font-weight: 400;
      color: $textDark;
      margin: 5px 0;
    }
  }
  .btns-action {
    text-align: center;
  }
}

@media (max-width: 992px) {
  .form-status {
    margin-top: 110px;
  }
}
@media (max-width: 768px) {
  .form-status {
    .section-inner {
      width: 100%;
      padding: 20px;
    }
  }
}
@media (max-width: 575px) {
  .form-status {
    .section-inner {
      padding: 12px;
    }
    .btns-action {
      .btn {
        width: 100%;
        margin: 5px 0;
      }
    }
  }
}

/*#endregion -------------- Payment Status */
