/*#region ----------------- Forms */
.inputgroup {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  .input {
    width: 100%;
    height: 50px;
    border: 1px solid $borderColor;
    background-color: white;
    font-size: 14px;
    padding: 5px 15px;
    transition: all 0.2s ease-in-out;
    &:hover,
    &:focus {
      border-color: $primary;
      ~ .icon {
        color: $primary;
      }
    }
    &:disabled {
      background-color: rgba($color: #000000, $alpha: 0.1);
    }
  }
  .icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    @include displayFlex(flex, center, center);
    font-size: 22px;
    color: $textSilver;
  }
  label {
    font-size: 13px;
    font-weight: 500;
    color: $textGrey;
    margin-bottom: 5px;
  }
  textarea {
    width: 100%;
    max-width: 100%;
    height: 50px;
    font-size: 14px;
    line-height: 1.4;
    background-color: white;
    border: 1px solid $borderColor;
    border-radius: 0;
    padding: 5px 15px;
    transition: all 0.2s ease;
    resize: none;
  }
  &.type-2 {
    .input {
      padding-right: 15px;
      height: 40px;
    }
  }
}

.select-group {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  label {
    font-size: 13px;
    font-weight: 500;
    color: $textGrey;
    margin-bottom: 5px;
  }
  .form-select {
    height: 50px;
    border-color: $borderColor;
    border-radius: 0;
    transition: all 0.3s linear;
    color: $textDark;
    text-align: right;
    font-size: 14px;
    font-weight: 400;
    padding-right: 20px;
    padding-left: 30px;
    background-position: left 0.75rem center;
    &:hover,
    &:focus {
      border-color: $primary;
      box-shadow: none !important;
    }
  }
}

.selectgroup-row {
  position: relative;
  width: 100%;
  label {
    font-size: 13px;
    font-weight: 500;
    color: $textGrey;
    margin-bottom: 5px;
  }
}

.textarea-group {
  position: relative;
  margin-top: 20px;
  width: 100%;
  label {
    font-size: 13px;
    font-weight: 500;
    color: $textGrey;
    margin-bottom: 5px;
  }
  .form-control {
    font-size: 15px;
    font-weight: 400;
    border-radius: 0;
    padding: 10px;
    &:hover,
    &:focus {
      border-color: $primary;
      box-shadow: none !important;
    }
  }
}

.form-check {
  .form-check-label {
    font-size: 14px;
    font-weight: 400;
    color: $textGrey;
  }
  .form-check-input {
    &:checked {
      background-color: $primary;
      border-color: $primary;
    }
    &:focus {
      box-shadow: none;
    }
  }
}

.radios-group {
  margin-top: 30px;
  .label {
    font-size: 14px;
    font-weight: 500;
    background-color: #fff;
    color: $textDark;
    margin-bottom: 5px;
  }
  .radio-inner {
    @include displayFlex(flex, center, flex-start);
    flex-wrap: wrap;
    margin-top: 10px;
  }
  .form-check {
    margin: 0 0 10px 30px;
    cursor: pointer;
    .form-check-input,
    .form-check-label {
      cursor: pointer;
    }
    .form-check-input {
      border-color: rgba($color: #000000, $alpha: 0.3);
      &:checked {
        border-color: $primary;
      }
    }
  }
  &.grid-2 {
    .form-check {
      flex: 0 0 50%;
      width: 50%;
      margin-left: 0;
      padding-left: 15px;
    }
  }
}

.form-section {
  margin: 0 0 100px 0;
  position: relative;
  top: -30px;
  .form-content {
    background-color: white;
    padding: 40px;
    border: 1px solid $borderColor;
  }
  .btns-group {
    text-align: center;
    margin-top: 1.5rem;
  }
}
.captcha-img {
  img {
    width: 100%;
    object-fit: cover;
  }
}
.btn-captcha-refresh {
  width: 50px;
  height: 50px;
  background-color: $primary;
  color: white;
  border: none;
  font-size: 24px;
  padding: 5px;
  .fi {
    position: relative;
    top: 5px;
  }
}
.help-tips {
  ul {
    li {
      font-size: 14px;
      font-weight: 400;
      color: $textGrey;
      margin: 5px 0;
      strong {
        font-weight: 600;
        color: $textDark;
        margin: 0 5px;
      }
    }
  }
}

@media (max-width: 768px) {
  .form-section {
    .form-content {
      padding: 30px;
    }
  }
  .captcha-img {
    margin: 1rem 0;
  }
}
@media (max-width: 575px) {
  .form-section {
    .form-content {
      padding: 20px;
    }
  }
}
/*#endregion -------------- Forms */
