/*#region ----------------- Page Title */
.page-title {
  text-align: center;
  .title-inner {
    @include displayFlex(flex, center, space-between);
  }
  h1,
  h2 {
    font-size: 1.6rem;
    color: $textDark;
    line-height: 42px;
    display: inline-block;
    position: relative;
    z-index: 1;
    padding-right: 30px;
    margin-bottom: 5px;
    &::before {
      content: "";
      position: absolute;
      top: 3px;
      right: 0;
      background-image: url(../images/logo-line.svg);
      background-repeat: no-repeat;
      background-size: 100%;
      width: 20px;
      height: 34px;
    }
  }
  p {
    font-size: 14px;
    font-weight: 400;
    color: $textGrey;
    margin-bottom: 0;
  }
  .see-more-link {
    font-size: 14px;
    font-weight: 500;
    color: $primary;
    @include displayFlex(flex, center, center);
    transition: all 0.2s ease-in-out;
    .fi {
      margin-right: 8px;
      font-size: 18px;
    }
    &:hover {
      color: $secondary;
    }
    .icon {
      @include displayFlex(flex, center, center);
    }
  }
  &.text-center {
    text-align: center;
    .title-inner {
      margin: 0 auto;
      width: 60%;
    }
  }
}

@media (max-width: 992px) {
  .page-title {
    .title-inner {
    }
    h1,
    h2 {
      font-size: 1.3rem;
      line-height: 36px;
      &::before {
        width: 20px;
        height: 34px;
      }
    }
  }
}
@media (max-width: 768px) {
  .page-title {
    .title-inner {
    }
    h1,
    h2 {
      font-size: 1.1rem;
      line-height: 32px;
      &::before {
        width: 18px;
        height: 31px;
      }
    }
    p {
      font-size: 13px;
    }
    &.type-row {
      h1,
      h2 {
        padding-right: 30px;
      }
    }
  }
}
@media (max-width: 575px) {
  .page-title {
    .see-more-link {
      .text {
        display: none;
      }
    }
  }
}
/*#endregion ----------------- Page Title */
