/*#region ----------------- Sidebar Mobile Menu */
#sidebar-menu {
  position: fixed;
  top: 0;
  right: -300px;
  height: 100vh;
  width: 300px;
  z-index: 2002;
  background: white;
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  transition: all 0.3s ease-in-out;
  &.active {
    right: 0;
  }
  .sidebar-header {
    @include displayFlex(flex, center, space-between);
    padding: 15px 20px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      right: 0;
      top: 60px;
      background-image: url(../images/line-wave.png);
      background-repeat: no-repeat;
      background-size: 100%;
      width: 100%;
      height: 300px;
    }
    .sidebar-close {
      .btn-close-menu {
        width: 45px;
        height: 45px;
        color: $textSilver;
        background-color: transparent;
        border: none;
        padding: 0;
        .fi {
          font-size: 22px;
          position: relative;
          top: 4px;
        }
        &:hover {
          color: $textGrey;
        }
      }
    }
    .sidebar-logo {
      a {
        display: block;
        img {
          width: 90px;
        }
        span {
          font-size: 16px;
          font-weight: 500;
          color: $textDark;
        }
      }
    }
  }
  .category-list {
    display: none;
    margin-top: 60px;
    .item {
      a {
        padding: 10px 20px;
        display: block;
        font-size: 16px;
        font-weight: 500;
        color: $textDark;
        position: relative;
        transition: all 0.2s ease;
        .fi {
          position: absolute;
          left: 20px;
          color: $secondary;
        }
        &:hover {
          color: $primary;
          padding-right: 30px;
          background-color: rgba($color: $primary, $alpha: 0.1);
        }
      }
    }
  }
  .socials-icon {
    margin-top: 30px;
    ul {
      @include displayFlex(flex, center, center);
      flex-wrap: wrap;
      li {
        margin: 5px;
        a {
          @include displayFlex(flex, center, center);
          width: 40px;
          height: 40px;
          background-color: $primary;
          font-size: 22px;
          color: white;
          border: 1px solid transparent;
          border-radius: 50%;
          &:hover {
            border-color: $primary;
            background-color: white;
            color: $primary;
          }
        }
      }
    }
  }
}
.overlay-back {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  z-index: 2001;
  opacity: 0;
  transition: all 0.3s;
  &.active {
    display: block;
    opacity: 1;
  }
}
@media (max-width: 992px) {
  #sidebar-menu {
    .category-list {
      display: block;
    }
  }
}
@media (max-width: 575px) {
}

@media (max-width: 400px) {
  #sidebar-menu {
    width: 100%;
    right: -400px;
  }
}
/*#endregion -------------- Sidebar Mobile Menu */
