/*#region ----------------- Toast Message */
.toast-message {
  border-radius: 0;
  border: none;
  &.toast-success {
    .toast-header {
      background-color: $success;
      .fi {
        color: rgba($color: white, $alpha: 0.7);
      }
      strong {
        color: white;
      }
      .btn-close {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
      }
    }
    .toast-body {
      background-color: rgba($color: $success, $alpha: 0.15);
    }
  }
  &.toast-error {
    .toast-header {
      background-color: $error;
      .fi {
        color: rgba($color: white, $alpha: 0.7);
      }
      strong {
        color: white;
      }
      .btn-close {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
      }
    }
    .toast-body {
      background-color: rgba($color: $error, $alpha: 0.15);
    }
  }
  &.toast-warning {
    .toast-header {
      background-color: $warning;
      .fi {
        color: rgba($color: $textDark, $alpha: 0.7);
      }
      strong {
        color: $textDark;
      }
      .btn-close {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
      }
    }
    .toast-body {
      background-color: rgba($color: $warning, $alpha: 0.15);
    }
  }
  &.toast-info {
    .toast-header {
      background-color: $info;
      .fi {
        color: rgba($color: white, $alpha: 0.7);
      }
      strong {
        color: white;
      }
      .btn-close {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
      }
    }
    .toast-body {
      background-color: rgba($color: $info, $alpha: 0.15);
    }
  }
  .toast-header {
    border-radius: 0;
    .fi {
      margin-left: 10px;
      font-size: 18px;
    }
    .btn-close {
      opacity: 0.7;
    }
  }
  .toast-body {
    padding: 20px 10px;
    font-size: 14px;
    font-weight: 400;
    color: $textDark;
    backdrop-filter: blur(10px);
    opacity: 1;
  }
}

#blazor-error-ui {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 889;
  background-color: rgba($color: $error, $alpha: 0.8);
  backdrop-filter: blur(10px);
  text-align: right;
  padding: 20px 20px 20px 190px;
  color: white;
  .dismiss {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 36px;
    height: 36px;
    font-size: 22px;
    background-color: rgba($color: white, $alpha: 0.2);
    @include displayFlex(flex, center, center);
    color: white;
    border-radius: 50%;
    cursor: pointer;
    &:hover {
      background-color: white;
      color: $error;
    }
  }
  .reload {
    position: absolute;
    left: 66px;
    top: 50%;
    transform: translateY(-50%);
    height: 36px;
    background-color: rgba($color: white, $alpha: 0.9);
    @include displayFlex(flex, center, center);
    color: $textDark;
    border-radius: 10px;
    padding: 2px 10px;
    font-size: 14px;
    font-weight: 400;
  }
}

/*#endregion -------------- Toast Message */
