$primary: #007ddf;
$secondary: #00ddb3;
$accent: #000000;

$textDark: #414756;
$textGrey: #7a7e88;
$textSilver: #a5abbd;

$success: #00bd79;
$error: #ff3333;
$info: #009cf2;
$warning: #f0bd00;
$disabled: #d8d8d8;
$dis_button: #879ac1;

$borderColor: #dadde4;

$background: #f5f9ff;

$bodyFont: IRANYEKAN;
$bodyFontLatin: Inter;
$iconFontRegular: uicons-regular-rounded;
$iconFontSolid: uicons-solid-rounded;

$boxshadow: 0px 5px 20px rgba(34, 30, 34, 0.1);
